[project]
name = "header-crawl"
version = "0.1.0"
description = "Crawling website header"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "requests>=2.32.5",
]

[dependency-groups]
dev = [
    "pytest>=8.3.4",
]
